USE [HoTroDuLichAIDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/20/2024 7:45:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_LinkHelper]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_LinkHelper](
	[Id] [uniqueidentifier] NOT NULL,
	[AppEndpoint] [nvarchar](max) NOT NULL,
	[ClientAppEndpoint] [nvarchar](max) NOT NULL,
	[NotificationPageRoute] [nvarchar](max) NOT NULL,
	[ConfirmResetPasswordRoute] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Admin_LinkHelper] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Place]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Place](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Latitude] [real] NOT NULL,
	[Longitude] [real] NOT NULL,
	[PlaceType] [int] NOT NULL,
	[IsNew] [bit] NOT NULL,
	[Appoved] [int] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ImageGallery] [nvarchar](max) NOT NULL,
	[Rating] [int] NOT NULL,
	[Thumbnail] [nvarchar](max) NOT NULL,
	[TotalView] [int] NOT NULL,
 CONSTRAINT [PK_Admin_Place] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Province]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Province](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Code] [int] NOT NULL,
	[CodeName] [nvarchar](150) NOT NULL,
	[DivisionType] [nvarchar](150) NOT NULL,
	[PhoneCode] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Admin_Province] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_Role]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_Role](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_Admin_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_User]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_User](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NULL,
	[PIN] [nvarchar](max) NOT NULL,
	[ImageProperty] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[ModifiedBy] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[ModifiedDate] [datetimeoffset](7) NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[Avatar] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Admin_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_UserRefreshToken]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_UserRefreshToken](
	[Id] [uniqueidentifier] NOT NULL,
	[RefreshToken] [nvarchar](max) NOT NULL,
	[AccessToken] [nvarchar](max) NOT NULL,
	[ExpireTime] [datetimeoffset](7) NOT NULL,
	[LastRevoked] [datetimeoffset](7) NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[RemoteIpAddress] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Admin_UserRefreshToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_UserRole]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_UserRole](
	[UserId] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Admin_UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin_UserToken]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin_UserToken](
	[Id] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[TokenProviderType] [int] NOT NULL,
	[TokenProviderName] [nvarchar](max) NOT NULL,
	[TokenExpiration] [datetimeoffset](7) NOT NULL,
	[IsTokenInvoked] [bit] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Admin_UserToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AI_AITrainingData]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_AITrainingData](
	[Id] [uniqueidentifier] NOT NULL,
	[SearchData] [nvarchar](max) NOT NULL,
	[PlaceData] [nvarchar](max) NOT NULL,
	[RatingData] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_AI_AITrainingData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Business_Business]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business_Business](
	[Id] [uniqueidentifier] NOT NULL,
	[BusinessName] [nvarchar](max) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Service] [nvarchar](max) NOT NULL,
	[BusinessContactPerson] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Business_Business] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Business_BusinessAnalytic]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Business_BusinessAnalytic](
	[Id] [uniqueidentifier] NOT NULL,
	[TotalView] [int] NOT NULL,
	[TotalContact] [int] NOT NULL,
	[LastViewedDate] [datetimeoffset](7) NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Business_BusinessAnalytic] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Itinerary]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Itinerary](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UpdatedDate] [datetimeoffset](7) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ProvinceId] [uniqueidentifier] NULL,
	[TotalAmount] [decimal](19, 2) NOT NULL,
	[TotalDay] [int] NOT NULL,
	[TotalUse] [int] NOT NULL,
 CONSTRAINT [PK_Customer_Itinerary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_ItineraryDetail]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_ItineraryDetail](
	[Id] [uniqueidentifier] NOT NULL,
	[Index] [int] NOT NULL,
	[Time] [time](7) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[ItineraryId] [uniqueidentifier] NOT NULL,
	[PlaceId] [uniqueidentifier] NOT NULL,
	[BusinessId] [uniqueidentifier] NOT NULL,
	[BusinessServiceIds] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Customer_ItineraryDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_ReviewPlace]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_ReviewPlace](
	[Id] [uniqueidentifier] NOT NULL,
	[Rating] [bigint] NOT NULL,
	[Comment] [nvarchar](max) NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PlaceId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Customer_ReviewPlace] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_Article]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Article](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Type] [int] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[Approved] [bit] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ImageProperty] [nvarchar](max) NOT NULL,
	[Thumbnail] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Notification_Article] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_Message]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Message](
	[Id] [uniqueidentifier] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[ReceiverId] [uniqueidentifier] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Status] [int] NOT NULL,
	[SendDate] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Notification_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_Notification]    Script Date: 11/20/2024 7:45:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Notification](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Type] [int] NOT NULL,
	[IsRead] [bit] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetimeoffset](7) NOT NULL,
	[ReadDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Notification_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241016135507_InitDatabase', N'8.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241019074652_AddNewEntities', N'8.0.10')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241110045917_CapNhatColum', N'8.0.10')
GO
INSERT [dbo].[Admin_LinkHelper] ([Id], [AppEndpoint], [ClientAppEndpoint], [NotificationPageRoute], [ConfirmResetPasswordRoute]) VALUES (N'8ec5a1b7-7391-408c-b90a-58d37c1f5d90', N'https://localhost:7001', N'', N'', N'')
GO
INSERT [dbo].[Admin_Province] ([Id], [Name], [Code], [CodeName], [DivisionType], [PhoneCode]) VALUES (N'16194a63-a807-448d-a38b-00f6da20ae33', N'Tỉnh Lâm Đồng', 68, N'tinh_lam_dong', N'', N'0')
INSERT [dbo].[Admin_Province] ([Id], [Name], [Code], [CodeName], [DivisionType], [PhoneCode]) VALUES (N'1c36381a-5f81-4e5a-a4b9-0a930c021a54', N'Thành phố Hà Nội', 1, N'thanh_pho_ha_noi', N'', N'0')
INSERT [dbo].[Admin_Province] ([Id], [Name], [Code], [CodeName], [DivisionType], [PhoneCode]) VALUES (N'fc8882fe-dc84-494a-ab3d-0d5f13ade3a9', N'Tỉnh Quảng Nam', 49, N'tinh_quang_nam', N'', N'0')
GO
INSERT [dbo].[Admin_Role] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'd50f33d4-0c60-4bc1-d17e-08dcedea94bb', N'NormalUser', N'NORMALUSER', NULL)
INSERT [dbo].[Admin_Role] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'f78aac65-b743-4427-61ec-08dd006a155b', N'Admin', N'ADMIN', NULL)
INSERT [dbo].[Admin_Role] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'92077cf1-0d26-4a96-61ed-08dd006a155b', N'Publisher', N'PUBLISHER', NULL)
GO
INSERT [dbo].[Admin_UserRole] ([UserId], [RoleId]) VALUES (N'b223d52e-851e-4745-73ae-08dcedeb540f', N'd50f33d4-0c60-4bc1-d17e-08dcedea94bb')
INSERT [dbo].[Admin_UserRole] ([UserId], [RoleId]) VALUES (N'ddc0f512-6d64-46a0-c354-08dd000b14f6', N'd50f33d4-0c60-4bc1-d17e-08dcedea94bb')
INSERT [dbo].[Admin_UserRole] ([UserId], [RoleId]) VALUES (N'd7d0b3b2-a6e6-4694-2e17-08dd08985c01', N'd50f33d4-0c60-4bc1-d17e-08dcedea94bb')
GO
INSERT [dbo].[Customer_Itinerary] ([Id], [Name], [CreatedDate], [UpdatedDate], [UserId], [ProvinceId], [TotalAmount], [TotalDay], [TotalUse]) VALUES (N'ddb9b8f9-77d9-44a1-90fe-006a5ed38df2', N'Itinerary 60', CAST(N'2024-11-16T20:22:35.4700000+00:00' AS DateTimeOffset), NULL, N'b223d52e-851e-4745-73ae-08dcedeb540f', NULL, CAST(0.00 AS Decimal(19, 2)), 0, 0)
INSERT [dbo].[Customer_Itinerary] ([Id], [Name], [CreatedDate], [UpdatedDate], [UserId], [ProvinceId], [TotalAmount], [TotalDay], [TotalUse]) VALUES (N'158626af-0238-42da-b56e-03b150be598c', N'Itinerary 48', CAST(N'2024-11-16T20:16:06.8100000+00:00' AS DateTimeOffset), NULL, N'ddc0f512-6d64-46a0-c354-08dd000b14f6', NULL, CAST(0.00 AS Decimal(19, 2)), 0, 0)
INSERT [dbo].[Customer_Itinerary] ([Id], [Name], [CreatedDate], [UpdatedDate], [UserId], [ProvinceId], [TotalAmount], [TotalDay], [TotalUse]) VALUES (N'5d5a900a-496c-4c0d-938f-03cc6bf7bd40', N'Itinerary 95', CAST(N'2024-11-16T20:16:06.8300000+00:00' AS DateTimeOffset), NULL, N'ddc0f512-6d64-46a0-c354-08dd000b14f6', NULL, CAST(0.00 AS Decimal(19, 2)), 0, 0)
GO
INSERT [dbo].[Customer_ReviewPlace] ([Id], [Rating], [Comment], [CreatedDate], [UserId], [PlaceId]) VALUES (N'e2fe8054-3c78-453f-acf0-00de8d2b51fc', 1, N'Comment for place 935', CAST(N'2024-11-16T20:34:56.9033333+00:00' AS DateTimeOffset), N'ddc0f512-6d64-46a0-c354-08dd000b14f6', N'cacb2c96-2760-4c37-8c21-cd833a38f366')
INSERT [dbo].[Customer_ReviewPlace] ([Id], [Rating], [Comment], [CreatedDate], [UserId], [PlaceId]) VALUES (N'73aecb64-59a4-4a32-b65d-011e9635a214', 5, N'Comment for place 571', CAST(N'2024-11-16T20:34:56.6466667+00:00' AS DateTimeOffset), N'b223d52e-851e-4745-73ae-08dcedeb540f', N'ee162c19-4c15-4759-b34e-1fbcc2428bf8')
INSERT [dbo].[Customer_ReviewPlace] ([Id], [Rating], [Comment], [CreatedDate], [UserId], [PlaceId]) VALUES (N'a55a7ab2-ae2b-4ae2-809b-016e2a3c51d3', 1, N'Comment for place 588', CAST(N'2024-11-16T20:34:56.6533333+00:00' AS DateTimeOffset), N'ddc0f512-6d64-46a0-c354-08dd000b14f6', N'298d4da5-5716-44a8-9173-0d720efe0f37')
GO
INSERT [dbo].[Notification_Article] ([Id], [Title], [Content], [Type], [CreatedDate], [Approved], [UserId], [ImageProperty], [Thumbnail]) VALUES (N'48fa9777-c2ee-48cb-a738-0e35681f67eb', N'Article Title 5', N'This is a random article content.', 1, CAST(N'2024-11-15T23:54:24.3600000+00:00' AS DateTimeOffset), 1, N'ddc0f512-6d64-46a0-c354-08dd000b14f6', N'', N'https://luanvanviet.com/wp-content/uploads/2020/11/hinh-anh-cac-loai-hinh-du-lich-3.jpg')
INSERT [dbo].[Notification_Article] ([Id], [Title], [Content], [Type], [CreatedDate], [Approved], [UserId], [ImageProperty], [Thumbnail]) VALUES (N'6e129c2d-e501-4344-9ad0-40f6d9f7c70d', N'Article Title 2', N'This is a random article content.', 1, CAST(N'2024-11-15T23:54:24.3600000+00:00' AS DateTimeOffset), 1, N'b223d52e-851e-4745-73ae-08dcedeb540f', N'', N'https://luanvanviet.com/wp-content/uploads/2020/11/hinh-anh-cac-loai-hinh-du-lich-3.jpg')
INSERT [dbo].[Notification_Article] ([Id], [Title], [Content], [Type], [CreatedDate], [Approved], [UserId], [ImageProperty], [Thumbnail]) VALUES (N'125401f2-6c9d-4dd4-a5c8-5eac33d3db69', N'Article Title 4', N'This is a random article content.', 1, CAST(N'2024-11-15T23:54:24.3600000+00:00' AS DateTimeOffset), 1, N'ddc0f512-6d64-46a0-c354-08dd000b14f6', N'', N'https://luxtour.com.vn/wp-content/uploads/2021/03/Du-lich-Viet-Nam-7.png')
GO
INSERT [dbo].[Notification_Message] ([Id], [SenderId], [ReceiverId], [Content], [Status], [SendDate]) VALUES (N'9d6b9007-5e5e-46e8-9983-00ae833bae7c', N'ddc0f512-6d64-46a0-c354-08dd000b14f6', N'b223d52e-851e-4745-73ae-08dcedeb540f', N'Hello', 1, CAST(N'2024-11-09T12:19:38.3973937+00:00' AS DateTimeOffset))
INSERT [dbo].[Notification_Message] ([Id], [SenderId], [ReceiverId], [Content], [Status], [SendDate]) VALUES (N'd7ce96d8-8349-4ccc-9fca-0b0c9c9bd650', N'ddc0f512-6d64-46a0-c354-08dd000b14f6', N'b223d52e-851e-4745-73ae-08dcedeb540f', N'Quen biết gì đâu mà hello', 1, CAST(N'2024-11-09T12:19:50.5871151+00:00' AS DateTimeOffset))
INSERT [dbo].[Notification_Message] ([Id], [SenderId], [ReceiverId], [Content], [Status], [SendDate]) VALUES (N'a5ac9257-e20d-44cf-97c2-0ea9adb38ef5', N'd7d0b3b2-a6e6-4694-2e17-08dd08985c01', N'b223d52e-851e-4745-73ae-08dcedeb540f', N'Hi', 1, CAST(N'2024-11-19T12:48:18.8741417+00:00' AS DateTimeOffset))
GO
INSERT [dbo].[Notification_Notification] ([Id], [Title], [Type], [IsRead], [Content], [UserId], [CreatedDate], [ReadDate]) VALUES (N'85656c96-e561-40da-bdf9-425f8a572bdc', N'Thông báo có địa điểm mới.', 5, 0, N'doadoiaoiwdw - doadoaiwhdaoihdwadwa', N'ddc0f512-6d64-46a0-c354-08dd000b14f6', CAST(N'2024-11-14T15:48:18.7211162+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[Notification_Notification] ([Id], [Title], [Type], [IsRead], [Content], [UserId], [CreatedDate], [ReadDate]) VALUES (N'718b4cd3-0326-40b4-85a8-6ecab6f98d09', N'Thông báo có địa điểm mới.', 5, 0, N'Tạo địa điểm gửi thông báo - Okok', N'ddc0f512-6d64-46a0-c354-08dd000b14f6', CAST(N'2024-11-14T13:43:51.7513819+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[Notification_Notification] ([Id], [Title], [Type], [IsRead], [Content], [UserId], [CreatedDate], [ReadDate]) VALUES (N'b8d12e51-a5af-48c2-b00b-78ba822ce498', N'Thông báo có địa điểm mới.', 5, 0, N'dosiahdosiaho - d;sandlksandilan', N'ddc0f512-6d64-46a0-c354-08dd000b14f6', CAST(N'2024-11-14T15:28:37.5855042+00:00' AS DateTimeOffset), NULL)
GO
ALTER TABLE [dbo].[Admin_Place] ADD  DEFAULT (N'') FOR [ImageGallery]
GO
ALTER TABLE [dbo].[Admin_Place] ADD  DEFAULT ((0)) FOR [Rating]
GO
ALTER TABLE [dbo].[Admin_Place] ADD  DEFAULT (N'') FOR [Thumbnail]
GO
ALTER TABLE [dbo].[Admin_Place] ADD  DEFAULT ((0)) FOR [TotalView]
GO
ALTER TABLE [dbo].[Admin_User] ADD  DEFAULT (N'') FOR [Avatar]
GO
ALTER TABLE [dbo].[Customer_Itinerary] ADD  DEFAULT ((0.0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Customer_Itinerary] ADD  DEFAULT ((0)) FOR [TotalDay]
GO
ALTER TABLE [dbo].[Customer_Itinerary] ADD  DEFAULT ((0)) FOR [TotalUse]
GO
ALTER TABLE [dbo].[Customer_ItineraryDetail] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [BusinessId]
GO
ALTER TABLE [dbo].[Customer_ItineraryDetail] ADD  DEFAULT (N'[]') FOR [BusinessServiceIds]
GO
ALTER TABLE [dbo].[Notification_Article] ADD  DEFAULT (N'') FOR [ImageProperty]
GO
ALTER TABLE [dbo].[Notification_Article] ADD  DEFAULT (N'') FOR [Thumbnail]
GO
ALTER TABLE [dbo].[Admin_Place]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Place_Admin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Admin_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin_Place] CHECK CONSTRAINT [FK_Admin_Place_Admin_User_UserId]
GO
ALTER TABLE [dbo].[Admin_UserRefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_Admin_UserRefreshToken_Admin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Admin_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin_UserRefreshToken] CHECK CONSTRAINT [FK_Admin_UserRefreshToken_Admin_User_UserId]
GO
ALTER TABLE [dbo].[Admin_UserRole]  WITH CHECK ADD  CONSTRAINT [FK_Admin_UserRole_Admin_Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Admin_Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin_UserRole] CHECK CONSTRAINT [FK_Admin_UserRole_Admin_Role_RoleId]
GO
ALTER TABLE [dbo].[Admin_UserRole]  WITH CHECK ADD  CONSTRAINT [FK_Admin_UserRole_Admin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Admin_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin_UserRole] CHECK CONSTRAINT [FK_Admin_UserRole_Admin_User_UserId]
GO
ALTER TABLE [dbo].[Admin_UserToken]  WITH CHECK ADD  CONSTRAINT [FK_Admin_UserToken_Admin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Admin_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Admin_UserToken] CHECK CONSTRAINT [FK_Admin_UserToken_Admin_User_UserId]
GO
ALTER TABLE [dbo].[AI_AITrainingData]  WITH CHECK ADD  CONSTRAINT [FK_AI_AITrainingData_Admin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Admin_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AI_AITrainingData] CHECK CONSTRAINT [FK_AI_AITrainingData_Admin_User_UserId]
GO
ALTER TABLE [dbo].[Business_Business]  WITH CHECK ADD  CONSTRAINT [FK_Business_Business_Admin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Admin_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Business_Business] CHECK CONSTRAINT [FK_Business_Business_Admin_User_UserId]
GO
ALTER TABLE [dbo].[Business_BusinessAnalytic]  WITH CHECK ADD  CONSTRAINT [FK_Business_BusinessAnalytic_Business_Business_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Business_Business] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Business_BusinessAnalytic] CHECK CONSTRAINT [FK_Business_BusinessAnalytic_Business_Business_BusinessId]
GO
ALTER TABLE [dbo].[Customer_Itinerary]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Itinerary_Admin_Province_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Admin_Province] ([Id])
GO
ALTER TABLE [dbo].[Customer_Itinerary] CHECK CONSTRAINT [FK_Customer_Itinerary_Admin_Province_ProvinceId]
GO
ALTER TABLE [dbo].[Customer_Itinerary]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Itinerary_Admin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Admin_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_Itinerary] CHECK CONSTRAINT [FK_Customer_Itinerary_Admin_User_UserId]
GO
ALTER TABLE [dbo].[Customer_ItineraryDetail]  WITH CHECK ADD  CONSTRAINT [FK_Customer_ItineraryDetail_Admin_Place_PlaceId] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Admin_Place] ([Id])
GO
ALTER TABLE [dbo].[Customer_ItineraryDetail] CHECK CONSTRAINT [FK_Customer_ItineraryDetail_Admin_Place_PlaceId]
GO
ALTER TABLE [dbo].[Customer_ItineraryDetail]  WITH CHECK ADD  CONSTRAINT [FK_Customer_ItineraryDetail_Business_Business_BusinessId] FOREIGN KEY([BusinessId])
REFERENCES [dbo].[Business_Business] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer_ItineraryDetail] CHECK CONSTRAINT [FK_Customer_ItineraryDetail_Business_Business_BusinessId]
GO
ALTER TABLE [dbo].[Customer_ItineraryDetail]  WITH CHECK ADD  CONSTRAINT [FK_Customer_ItineraryDetail_Customer_Itinerary_ItineraryId] FOREIGN KEY([ItineraryId])
REFERENCES [dbo].[Customer_Itinerary] ([Id])
GO
ALTER TABLE [dbo].[Customer_ItineraryDetail] CHECK CONSTRAINT [FK_Customer_ItineraryDetail_Customer_Itinerary_ItineraryId]
GO
ALTER TABLE [dbo].[Customer_ReviewPlace]  WITH CHECK ADD  CONSTRAINT [FK_Customer_ReviewPlace_Admin_Place_PlaceId] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Admin_Place] ([Id])
GO
ALTER TABLE [dbo].[Customer_ReviewPlace] CHECK CONSTRAINT [FK_Customer_ReviewPlace_Admin_Place_PlaceId]
GO
ALTER TABLE [dbo].[Customer_ReviewPlace]  WITH CHECK ADD  CONSTRAINT [FK_Customer_ReviewPlace_Admin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Admin_User] ([Id])
GO
ALTER TABLE [dbo].[Customer_ReviewPlace] CHECK CONSTRAINT [FK_Customer_ReviewPlace_Admin_User_UserId]
GO
ALTER TABLE [dbo].[Notification_Article]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Article_Admin_User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Admin_User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notification_Article] CHECK CONSTRAINT [FK_Notification_Article_Admin_User_UserId]
GO
ALTER TABLE [dbo].[Notification_Message]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Message_Admin_User_ReceiverId] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[Admin_User] ([Id])
GO
ALTER TABLE [dbo].[Notification_Message] CHECK CONSTRAINT [FK_Notification_Message_Admin_User_ReceiverId]
GO
ALTER TABLE [dbo].[Notification_Message]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Message_Admin_User_SenderId] FOREIGN KEY([SenderId])
REFERENCES [dbo].[Admin_User] ([Id])
GO
ALTER TABLE [dbo].[Notification_Message] CHECK CONSTRAINT [FK_Notification_Message_Admin_User_SenderId]
GO
