.leaflet-control-geocoder.leaflet-bar {
  background: white;
  padding: 5px;
  button.leaflet-control-geocoder-icon {
    display: none;
  }
  .leaflet-control-geocoder-form {
    display: flex;
    gap: 2px;
    button {
      width: 50px;
      padding: 2px;
    }
    input {
      width: 100%;
      border: 1px solid #dee2e6;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      padding: 0.375rem 0.75rem;
      background-color: #fff;
      background-clip: padding-box;
      color: #212529;
    }
  }
  .leaflet-control-geocoder-form-no-error {
    display: none;
  }
  ul.leaflet-control-geocoder-alternatives {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    li {
      list-style: none;
      cursor: pointer;
      a {
        display: flex;
        gap: 3px;
        width: 100%;
        font-size: 0.9rem;
        span {
          font-size: 0.7rem;
        }
      }
    }
  }
}
